<div class="col-10 offset-1 main">

	<% if current_user && current_user.admin? %>
		<h3>Admin Dashboard</h3>
		<br />

		<p>Hello, <%= @user.username %></p>
		<br />

		<%= link_to 'Users', admin_users_path %><br />
		<%= link_to 'Stores', admin_stores_path %><br />
		<%= link_to 'Reviews', admin_reviews_path %><br />
	<% end %>

</div>