<div class="col-10 offset-1 main">

	<% if current_user && current_user.admin? %>

		<h2>stores</h2>

		<% @stores.each do |store| %>
			<%= store.storename %><br />
			<%= store.address %><br /><br />
		<% end %>

	<% end %>

</div>