<div class="col-10 offset-1 main">

	<% if current_user && current_user.admin? %>

		<h2>Users</h2>

		<% @users.each do |user| %>
			<%= user.username %>
			<%= user.email %><br />
		<% end %>

	<% end %>

</div>