<div class="col-10 offset-1 main">

	<h2>Stores and Delivery Services near you</h2>
	<br />

	<% @nearbystores.each do |store| %>
		<% if store.reviews.present? %>
			<span class="badge badge-success"><%= store.reviews.last.inv_storetype %></span><br />
		<% end %>
		<%= link_to store.storename, store_path(store) %><br />
		<%= store.address %><br />
		<%= store.distance_from(@user.userlocations.last.to_coordinates).floor(1) %> miles away<br /><br />
	<% end %>

</div>