@import "bootstrap";

.main {
	margin-top: 28px;
	margin-bottom: 28px;
}

.navbar-brand {
  font-size: 1.8em;
  color: green;
}

.review_image {
  width: 100%;
}

.review_image_small {
  max-width: 30%;
}

.linkspacer {
	margin-left: 8px;
  margin-right: 8px;
}