@import "bootstrap";

.main {
	margin-top: 28px;
	margin-bottom: 28px;
}

.navbar-brand {
  font-size: 1.8em;
  color: green;
}

.box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
}

.review_image {
  width: 100%;
}

.review_image_small {
  max-width: 20%;
}

.review_image_thumb {
  max-width: 100%;
}

.linkspacer {
	margin-left: 8px;
  margin-right: 8px;
}