<div class="col-10 offset-1 main">

	<h3>FAQ</h3>
	<br />

	<h5>Step-by-step Guide:</h5>
	<br />

	<ol>
		<li>Make a purchase from a legal dispensary near you. Right now, we are only accepting reviews for flower, but in the near future, we will expand to other areas, including edibles and concentrate.</li>
		<li>Be sure that your location is set in your user profile. Don't worry, we don't do anything with this info, except use it to show you reviews and dispensaries nearby. You can use your address, or if you feel more comfortable, just your zip code.</li>
		<li>Visit the Local Stores page, and find the dispensary that you purchased from. Click the store.</li>
		<li>Write a thorough review, and score your product honestly.</li>
		<li>Be sure to add a picture of your product, and make it a good one! Users are allowed to UpVote them, allowing more folks to read your review. You can do that from the review's page.</li>
		<li>Another detail that can make your review stand out, is if you add label info. This will let other consumers know the specifics of the strain you reviewed, including CBD and THC %, harvest dates, and more. This is also done on your review page.</li>
		<li>Browse the Pic Stream to see which strains others are bragging about. If you like a photo, give it an UpVote! If you see a store you like, add it to your Favorites! If you read a great review, give the user who wrote it a High Five! </li>
	</ol>

</div>