<div class="col-10 offset-1 main">

	<h3>home</h3>
	<br />

	<p>Ready to write a review? Simply find the dispensary that you purchased from in our list of local stores, and click to start reviewing your newly acquired product! Once you're done writing it, be sure to add the label info and a picture to make it really stand out!</p>

	<p><%= link_to 'Get Started', stores_path %></p>

	<p><%= link_to 'How does this work?', faq_path %></p>

	<h5>Latest Reviews</h5>
	<% @latestreviews.each do |review| %>
		<%= link_to review.title, store_review_path(review.store, review) %>&nbsp;
		<% if review.photos.present? %>
			(photo icon)
		<% end %>
		<% if review.labelinfos.present? %>
			&nbsp;(label icon)
		<% end %>
		<br />
	<% end %>

	<br />

	<h5>Latest Pics</h5>
	<% @latestphotos.each do |photo| %>
		<%= photo.picture.url %><br />
	<% end %>

</div>